{#
	Create an Incoming B2B Transfer Record
#}

{% extends "layout/html.html" %}

{% block body %}

<form method="post">
<div class="container mt-4">
<h1>Transfer :: Create</h1>

<div class="form-group">
	<label>Origin License:</label>
	<div class="input-group">
		<input class="form-control license-autocomplete" name="license" >
		<div class="input-group-append">
			<div class="input-group-text">
				<i class="fas fa-sync"></i>
			</div>
			<button class="btn btn-outline-secondary"><i class="fas fa-question"></i></button>
		</div>
	</div>
</div>

<hr>

<h2>Incoming Items</h2>

<div id="transfer-incoming-item-list">
<div class="d-flex flex-row justify-content-between" id="lot-line" style="margin-bottom: 0.25rem;">

	<div>
		<select class="form-control" name="lot-type[]">
			<option>Flower</option>
			<option>Extract</option>
			<option>Edible</option>
		</select>
	</div>

	<div>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">ID:</div>
			</div>
			<input class="form-control" name="lot-guid[]">
		</div>
	</div>

	<div>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Strain:</div>
			</div>
			<input class="form-control" name="lot-strain[]">
		</div>
	</div>

	<div>
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Qty:</div>
			</div>
			<input class="form-control r" name="lot-qty[]" type="number">
		</div>
	</div>

	<div>
		<div class="btn-group">
			<button class="btn btn-outline-secondary btn-add-line" type="button"><i class="fas fa-plus"></i></button>
			<button class="btn btn-outline-danger btn-sub-line" disabled type="button"><i class="fas fa-minus"></i></button>
		</div>
	</div>

</div>
</div>

<hr> 

<div>
	<button class="btn btn-outline-primary"><i class="fas fa-save"></i> Save</button>
</div>


</div>
</form>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
$(function() {

	$('.license-autocomplete').autocomplete({
		source: 'https://directory.openthc.com/api/autocomplete/license',
	});


	$('#transfer-incoming-item-list').on('click', '.btn-add-line', function() {

		var $wrap = $('#lot-line');
		var $next = $wrap.clone();

		$next.attr('id', '');
		$next.find('input').val('');
		$next.find('.btn-sub-line').removeAttr('disabled');
		$('#transfer-incoming-item-list').append($next);

		return false;

	});

	$('#transfer-incoming-item-list').on('click', '.btn-sub-line', function() {
		var $wrap = $(this).closest('.d-flex');
		$wrap.remove();
	});

});
</script>
{% endblock %}