{#
	Show List of Pending Inbound Transfer
#}

{% extends "layout/html.html" %}

{% block body %}
<div class="container" style="min-height:70vh;">

<h1>Transfer :: {{ Transfer.global_id }} <small>[{{ Transfer.status }}]</small></h1>

{% include "block/transfer-origin-target.html" %}

<table class="table table-sm">
<thead>
	<tr>
		<th>Sender ID</th>
		<th>Product</th>
		<th>Description</th>
		<th class="r">Sent</th>
		<th class="r">Received</th>
	</tr>
</thead>
<tbody>
{% for iti in Transfer.inventory_transfer_items %}
	<tr>
		<td>
			{{ iti.global_id }}<br>
			Source Lot: {{ iti.global_inventory_id }}<br>
			Sample Lot: <strong><a href="/sample/{{ iti.global_received_inventory_id }}">{{ iti.global_received_inventory_id }}</a></strong>
		</td>
		<td>{{ iti.inventory_name }}</td>
		<td>
			{{ iti.description }}
			<br><code>{{ iti.sample_type }}</code>
		</td>
		<td class="r">{{ iti.qty }}</td>
		<td class="r">{{ iti.received_qty }}</td>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

<div class="form-actions">
	<a class="btn btn-outline-secondary" href="/transfer/{{ Transfer.global_id }}/sync"><i class="fas fa-sync"></i> Sync</a>
	<button class="btn btn-outline-secondary" name="a" type="submit" value="done"><i class="fas fa-check-square"></i> Finish</button>
	<a class="btn btn-outline-success btn-transfer-accept disabled" disabled href="/transfer/{{ Transfer.global_id }}/accept"><i class="fas fa-check-square"></i> Accept</a>
	<a class="btn btn-outline-danger btn-transfer-accept disabled" disabled href="/transfer/{{ Transfer.global_id }}/accept"><i class="fas fa-ban"></i> Void</a>
</div>

</div>
{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
$(function() {
	if ('in-transit' == '{{ Transfer.status }}') {
		$('.btn-transfer-accept').removeAttr('disabled');
		$('.btn-transfer-accept').removeClass('disabled');
	}
});
</script>
{% endblock %}
