;
; lab.openthc
; Application Configuration
;

[database_auth]
	hostname = "127.0.0.1"
	database = "openthc"
	username = "openthc"
	password = "openthc"

[database_main]
	hostname = "127.0.0.1"
	database = "openthc"
	username = "openthc"
	password = "openthc"


;
; Directory
[openthc_dir]
	hostname = "directory.openthc.dev"


;
; P2P
[openthc_p2p]
	hostname = "p2p.openthc.dev"
	public_key = ""


;
; Pipe
[openthc_pipe]
	hostname = "pipe.openthc.dev"


;
; SSO
[openthc_sso]
	hostname = "sso.openthc.dev"
	client = "lab.openthc.dev"
	secret = ""
