{% extends "layout/html.html" %}

{% block body %}
<form method="post">
<div class="container mt-4">

	<h1>Sample :: Create</h1>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Origin License:</div>
			</div>
			<input autofocus name="license_origin" class="form-control license-autocomplete">
			<input class="autocomplete-data-id" id="license-id" name="license-id" type="hidden" value="">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary btn-autocomplete-hint" type="button"><i class="fas fa-sync"></i></button>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Origin Identifier:</div>
			</div>
			<input name="lot-id-source" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Product Type:</div>
			</div>
			<select class="form-control" name="product-type">
				{% for pi, pt in product_type %}
					<option value="{{ pi }}">{{ pt }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Product:</div>
			</div>
			<input name="product" class="form-control product-autocomplete">
			<input id="product-id" name="product-id" type="hidden" value="">
			<!-- <div class="input-group-append">
				<button class="btn btn-outline-secondary btn-autocomplete-hint" type="button"><i class="fas fa-sync"></i></button>
			</div> -->
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">Strain:</div>
			</div>
			<input name="strain" class="form-control strain-autocomplete">
			<input id="strain-id" name="strain-id" type="hidden" value="">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary btn-autocomplete-hint" type="button"><i class="fas fa-sync"></i></button>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text">QTY:</div>
			</div>
			<input name="qty" class="form-control r" type="number" step="0.0001">
			<div class="input-group-append">
				<select class="form-control">
					<option value="ea">ea</option>
					<option value="g">g</option>
					<option value="mg">mg</option>
					<option value="ml">ml</option>
				</select>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<button class="btn btn-outline-primary" name="a" value="create-sample"><i class="fas fa-save"></i> Save</button>
	</div>

</div>
</form>
{% endblock %}



{% block foot_script %}
{{ parent() }}
<script>
$(function() {

	// $('.product-autocomplete').autocomplete({
	// 	source: 'https://pdb.openthc.com/api/autocomplete',
	// 	search: function(e, ui) {
	// 		$(this.parentElement).find('.btn-autocomplete-hint i').addClass('fa-spin');
	// 		debugger;
	// 	},
	// 	close: function(e, ui) {
	// 		$(this.parentElement).find('.btn-autocomplete-hint i').removeClass('fa-spin');
	// 	}
	// });

	$('.strain-autocomplete').autocomplete({
		source: 'https://sdb.openthc.org/api/autocomplete',
		search: function(e, ui) {
			$(this.parentElement).find('.btn-autocomplete-hint i').addClass('fa-spin');
			// debugger;
		},
		close: function(e, ui) {
			$(this.parentElement).find('.btn-autocomplete-hint i').removeClass('fa-spin');
		}
	});

});
</script>
{% endblock %}
