{#
	Show List of Sample Lot Objects
#}

{% extends "layout/html.html" %}

{% block body_head %}
<div style="position:relative;">
<div style="position:absolute; right: 0.25em; top: 0.25em;">
	<button class="btn btn-outline-secondary btn-lab-sample-sync"><i class="fas fa-sync"></i></button>
</div>
</div>
{% endblock %}

{% block body %}

<h1>Samples</h1>

<div class="data-filter-input-wrap d-flex mb-2">
<!--
<div class="data-filter-info">
	<button class="btn btn-sm btn-outline-secondary" type="button"><i class="fas fa-filter"></i></button> <em>Active</em>, <em>Untested</em>.
</div>
<div class="data-filter-form collapse">
	<select class="form-control"></select>
	<select class="form-control"></select>
	<select class="form-control"></select>
</div>
<p>A List of all Active Samples, use Filters or Search to find old stuff.</p>
-->
<div class="sample-stat form-inline">
	<div class="btn-group">
		<a class="btn btn-outline-secondary" href="?stat=100">Active: {{ sample_stat.100 }}</a>
		<a class="btn btn-outline-success" href="?stat=200">Completed: {{ sample_stat.200 }}</a>
		<a class="btn btn-outline-danger" href="?stat=401">Void: {{ sample_stat.401 }}</a>
		<a class="btn btn-outline-secondary" href="?stat=*">All</a>
	</div>
	<input class="form-control">
</div>

</div>


<table class="table table-sm">
<thead class="thead-dark">
	<tr>
		<th>IDs</th>
		<th>Type</th>
		<th class="r">Quantity</th>
		<th>Options</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for s in sample_list %}
	<tr>
		<!-- Sample Item ID / Name -->
		<td>
			<h5><a href="/sample/{{ s.id }}">{{ s.id }}</a></h5>
			Stat: {{ s.stat }}
			<!-- @TODO -->
			<!-- Add more vendor information here... maybe a business name? -->
			<div>
				Origin: {{ s.meta.global_inventory_id ?: s.meta.Lot.global_original_id }}
			</div>

		</td>

		<!-- Sample Type -->
		<td>
			<div class="row">
				{{ s.meta.Product.name }}
			</div>
			<div class="row">
				{% if s.meta.global_inventory_type_id %}
				<small>
					({{ s.meta.global_inventory_type_id }})
				</small>
				{% endif %}
			</div>
		</td>

		<td class="r">
			{{ s.meta.Lot.qty }}
			{% if s.meta.Lot.uom %}
				/ {{ s.meta.Lot.uom }}
			{% endif %}
		</td>

		<td>
			{{ s.meta.Lot.medically_compliant ? "Medical" }}
		</td>
		<td class="r">
		{% if s.meta.Lot.global_lab_result_id %}
			<a class="btn btn-sm btn-outline-secondary" href="/result/{{ s.meta.Lot.global_lab_result_id }}/edit">
				<i class="fas fa-edit"></i> Edit
			</a>
			<a class="btn btn-sm btn-outline-success" href="/result/{{ s.meta.Lot.global_lab_result_id }}"><i class="fas fa-tasks"></i> View</a>
		{% else %}
			<a title="Add Results" class="btn btn-sm btn-outline-primary" href="/result/create?sample_id={{ s.id }}"><i class="fas fa-flask"></i> Add Result</i></a>
		{% endif %}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script>
$(function() {
	$.post('/sample/sync');
});
</script>
{% endblock %}
