{% extends "layout/html.html" %}

{% block body %}
<div class="container">

<h1>
Sample :: {{ Sample.id }}
{{ Sample.flag_medical ? "<i class='fas fa-medkit'></i>"|raw }}
</h1>

<p>Source ID: <code>{{ Sample.global_original_id }}</code>
	{% if Sample.meta.external_id or Sample.meta.legacy_id %}
		{{ Sample.meta.external_id ? ("External ID: <code>" ~ Sample.meta.external_id ~ "</code>")|raw }}
		{{ Sample.meta.legacy_id ? ("Legacy ID: <code>" ~ Sample.meta.legacy_id ~ "</code>")|raw }}
	{% endif %}
	from <strong>{{ License_Source.name }}</strong> [{{ License_Source.code }}]
</p>

<div class="row">
<div class="col">
	{% if Sample.lab_result_id %}
		<div class="alert alert-success">Result: <a class="alert-link" href="/result/{{ Sample.lab_result_id }}">{{ Sample.lab_result_id }}</a></div>
	{% else %}
		<div class="alert alert-info">Result: -Pending-</div>
	{% endif %}
</div>
</div>


<div class="row">
<div class="col">
	<div class="form-group">
		<label>Product</label>
		<div class="input-group">
			<input class="form-control" readonly value="{{ Product.name }}">
			<div class="input-group-append">
				<div class="input-group-text">{{ Sample.flag_medical ? 'Med' : 'Rec' }}</div>
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="form-group">
		<label>Type</label>
		<input class="form-control" readonly value="{{ ProductType.name }}">
	</div>
</div>
</div>

<div class="row">
	<div class="col">
		<div class="form-group">
			<label>Strain</label>
			<input class="form-control" readonly value="{{ Strain.name }}">
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label>Quantity</label>
			<div class="input-group">
				<input class="form-control r" readonly value="{{ Lot.qty }}">
				<div class="input-group-append">
					<div class="input-group-text">{{ Product.uom }}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="col">
	<div class="form-group">
		<label>Net Weight</label>
		<input class="form-control r" readonly value="{{ Sample.net_weight }}">
	</div>
</div>
<div class="col">
	<div class="form-group">
		<label>Total Marijuana in Grams</label>
		<input class="form-control r" readonly value="{{ Sample.total_marijuana_in_grams }}">
	</div>
</div> -->

<form method="post">
<div class="form-actions">
	<!-- <a class="btn btn-outline-primary" href="/sample/{{ Sample.id }}/sync"><i class="fas fa-sync"></i> Sync</a> -->
	<a class="btn btn-outline-primary" href="/result/create?sample_id={{ Sample.id }}"><i class="fas fa-plus"></i> Add Results</a>
	<!-- <button class="btn btn-outline-secondary" name="a" type="submit" value="done"><i class="fas fa-check-square"></i> Finish</button> -->
	<button class="btn btn-outline-danger" name="a" type="submit" value="void"><i class="fas fa-ban"></i> Void</button>
	<button class="btn btn-outline-danger" name="a" type="submit" value="drop"><i class="fas fa-trash"></i> Delete</button>
</div>
</form>

</div>
{% endblock %}
