{% extends "layout/html.html" %}

{% block body %}

<form method="post">
<div class="container">

<div class="row card-wrap mt-4 justify-content-center">
<div class="col-md-6">
<div class="card">
	<div class="card-header">OpenTHC Account</div>
	<div class="card-body">
		<p>If you have an OpenTHC Account you should sign-in with that.</p>
		<a class="btn btn-primary" href="/auth/oauth/open">Connect</a>
	</div>
</div>
</div>
</div>


<div class="row card-wrap mt-4 justify-content-center">
<div class="col-md-6">
<div class="card">
	<div class="card-header">Connect</div>
		<div class="card-body">
			<p>You may also connect via our Pipe service</p>
			<a class="btn btn-primary" href="https://pipe.openthc.com/auth/open?client_id={{ oauth_client }}">Connect</a>
		</div>
</div>
</div>
</div>


<div class="row card-wrap mt-4 justify-content-center">
<div class="col-md-6">
<div class="card">
	<div class="card-header">Pipe Key</div>
	<div class="card-body">
		<h4>Connection Key</h4>
		<p>Once the Pipe service has connected you it will share a key to use here</p>
		<form method="post">
		<div class="input-group">
			<input class="form-control"name="pipe-token" value="{{ pipe_token }}">
			<div class="input-group-append">
				<button class="btn btn-outline-primary" name="a" type="submit" value="open-pipe">Go</button>
			</div>
		</div>
		</form>
	</div>
</div>
</div>

</div>


</div> <!-- /.container -->
</form>

{% endblock %}
