{% extends "layout/html.html" %}

{% block body %}

<div class="container mt-2">
	<div class="row card-wrap">

	<div class="col-lg-3 col-md-6 mb-4">
	  <div class="card">
		<div class="card-body">
		  <h4 class="card-title">Metrics</h4>
		  <p class="card-text">Use the <a href="/config/metric">Metrics</a> page to configure which metrics for which sample types.</p>
		</div>
		<div class="card-footer">
		  <a href="/config/metric" class="btn btn-primary">Review Metrics</a>
		</div>
	  </div>
	</div>
	</div>
</div>

{% endblock %}
